.home .hero h1 {
  font-size: 2rem;
}

.home .hero {
  text-align: center;
  margin-top: 100px;
}

.home .hero .description {
  max-width: 35rem;
  font-size: 1.6rem;
  line-height: 1.3;
  color: #6a8bad;
  margin-top: 150px;
}